.addItem{
    border-style: none;
    background-color: #DAFFEF;
    margin: 2%;
    font-size: large;
    padding: 2%;
    align-content: center;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.textBoxDiv{
    width: 100%;
}

.inputField{
    width: 10%;

}
.addButton{
    margin-top: 20px;
}