.addLocationForm{
    border-style: none ;
    background-color: #DAFFEF;;

}

.title{
    text-align: center;
}

.afterNav{

    margin: 2%;
    background-color: #DAFFEF;
    border-style: none;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cmdButton{
    margin: 10px;
    border-radius: 5px;
    background-color: #64B6AC;
    border-style: none;
}
