#bodyColor
{
    background-color:  #fefeff!important;


}

.ui-widget :active
{
    border:none!important;
}

.navbarStyle        none
{
    background: #247ba0!important;
}

/*.panelStyle*/
/*{*/
    /*background-color: #ebebeb!important;*/
/*}*/

.footerStyle
{
    background: #5d5d81!important;

}

.buttonStyleHeader
{
    background: #6c7d47;
}

#navbarStyle{
    background-color: #247ba0;
}



html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: 100%;
}
.content {
    padding: 20px;
    padding-bottom: 50px;
}
.footer {
    height: 50px;
    margin-top: -50px;
}

.ui-datatable * {
    border : 0px !important;
}


