body{
    background-color: #79968d;
}
.priceColumn{
    font-weight: bold;
    color: #00c400;
}
.titleColumn{
    font-weight: bold;
}
.authorColumn{
    font-weight: bold;
}
.idColumn{
    width: 20px;
}