body{
    background-color: #79968d;
}
.priceColumn{
    font-weight: bold;
    color: #00c400;
}
.titleColumn{
    font-weight: bold;
}
.titleColumn > a, a:visited{
    text-decoration: none;
}
.titleColumn a:hover{
    text-decoration: underline;
}
.authorColumn{
    font-weight: bold;
}
.topMenu{
    margin-bottom: 20px;
}